<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>表单</title>
    <link rel="stylesheet" href="/static/lib/layui-2.3.0/css/layui.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" href="/static/images/logo.png">
    <style type="text/css">
        .wchat_public_img { width: 88%; display: inline; }
        .wchat_pay_img { width: 88%; display: inline; }
        .alipay_img { width: 88%; display: inline; }
    </style>
</head>
<body class="body">

<form class="layui-form" action="">
    <input type="hidden" name="id" value="">
    <div class="layui-form-item">
        <label class="layui-form-label">匿名名称</label>
        <div class="layui-input-block">
            <input type="text" name="nickname" value="" lay-verify="nickname" autocomplete="off" placeholder="匿名名称" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">职业</label>
        <div class="layui-input-block">
            <input type="text" name="duty" value="" lay-verify="duty" autocomplete="off" placeholder="职业" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">省/辖区</label>
        <div class="layui-input-inline">
            <input type="text" name="province" value="" lay-verify="province" placeholder="省" autocomplete="off" class="layui-input">
        </div>
        <label class="layui-form-label">市/辖区</label>
        <div class="layui-input-inline">
            <input type="text" name="city" value="" lay-verify="city" placeholder="市" autocomplete="off" class="layui-input">
        </div>
        <label class="layui-form-label">县/区</label>
        <div class="layui-input-inline">
            <input type="text" name="area" value="" lay-verify="area" placeholder="县/区" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">详细地址</label>
        <div class="layui-input-block">
            <input type="text" name="location" value="" lay-verify="location" autocomplete="off" placeholder="请输入地址" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">邮箱地址</label>
        <div class="layui-input-block">
            <input type="text" name="email" value="" lay-verify="email" autocomplete="off" placeholder="邮箱地址" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">微信公众号</label>
        <div class="layui-input-block">
            <button type="button" class="layui-btn layui-show-md-inline" id="upload_wchat_public_img">
                <i class="layui-icon">&#xe67c;</i>上传图片
            </button>
            <input type="text" name="wchat_public_img" value="" lay-verify="url" autocomplete="off" class="layui-input wchat_public_img" disabled>
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">微信支付</label>
        <div class="layui-input-block">
            <button type="button" class="layui-btn" id="upload_wchat_pay_img">
                <i class="layui-icon">&#xe67c;</i>上传图片
            </button>
            <input type="text" name="wchat_pay_img" value="" lay-verify="url" autocomplete="off" class="layui-input wchat_pay_img" disabled>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">支付宝</label>
        <div class="layui-input-block">
            <button type="button" class="layui-btn" id="upload_alipay_img">
                <i class="layui-icon">&#xe67c;</i>上传图片
            </button>
            <input type="text" name="alipay_img" value="" lay-verify="url" autocomplete="off" class="layui-input alipay_img" disabled>
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">简介信息</label>
        <div class="layui-input-block">
            <textarea class="layui-textarea layui-hide" name="introduce" lay-verify="introduce" id="LAY_article_editor"></textarea>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="save-aboutme">立即提交</button>
        </div>
    </div>
</form>

<script type="text/javascript" src="/static/lib/layui-2.3.0/layui.js"></script>
<script>
    layui.use(['form', 'layedit', 'layer', 'upload'], function(){
        var form = layui.form, layer = layui.layer, layedit = layui.layedit, upload = layui.upload, $ = layui.jquery;

        // 文件上传
        var uploadImg1 = upload.render({
            elem: '#upload_wchat_public_img', //绑定元素
            url: '/upload/uploadEditorImage', //上传接口
            done: function(res){
                //上传完毕回调
                var width = res.data.width;
                var height = res.data.height;
                var imgurl = res.data.src;
                var str = imgurl + "?(" + width + "x" + height + ")";
                $(".wchat_public_img").val(str);
            },
            error: function(){
                //请求异常回调
                layer.alert("error", {title: '提示!'});
            }
        });
        // 文件上传
        var uploadImg2 = upload.render({
            elem: '#upload_wchat_pay_img', //绑定元素
            url: '/upload/uploadEditorImage', //上传接口
            done: function(res){
                //上传完毕回调
                var width = res.data.width;
                var height = res.data.height;
                var imgurl = res.data.src;
                var str = imgurl + "?(" + width + "x" + height + ")";
                $(".wchat_pay_img").val(str);
            },
            error: function(){
                //请求异常回调
                layer.alert("error", {title: '提示!'});
            }
        });
        // 文件上传
        var uploadImg3 = upload.render({
            elem: '#upload_alipay_img', //绑定元素
            url: '/upload/uploadEditorImage', //上传接口
            done: function(res){
                //上传完毕回调
                var width = res.data.width;
                var height = res.data.height;
                var imgurl = res.data.src;
                var str = imgurl + "?(" + width + "x" + height + ")";
                $(".alipay_img").val(str);
            },
            error: function(){
                //请求异常回调
                layer.alert("error", {title: '提示!'});
            }
        });

        // 提前配置上传图片操作
        layedit.set({
            uploadImage: {
                url: "/upload/uploadEditorImage"
            }
        });
        
        //创建一个编辑器
        var editor;

        // 初始化信息
        $.post("/blog/getAboutMe",{}, function(data){
            $("input[name=id]").val(data.data.id);
            $("input[name=nickname]").val(data.data.nickname);
            $("input[name=duty]").val(data.data.duty);
            $("input[name=province]").val(data.data.province);
            $("input[name=city]").val(data.data.city);
            $("input[name=area]").val(data.data.area);
            $("input[name=location]").val(data.data.location);
            $("input[name=email]").val(data.data.email);
            $(".wchat_public_img").val(data.data.wchat_public_img);
            $(".wchat_pay_img").val(data.data.wchat_pay_img);
            $(".alipay_img").val(data.data.alipay_img);
            $("#LAY_article_editor").html(data.data.introduce);
            // 富文本编辑器先赋值，再初始化编辑器
            editor = layedit.build('LAY_article_editor');
        }, "json");

        //监听提交
        form.on('submit(save-aboutme)', function(data){
            data.field.introduce = layedit.getContent(editor);
            var is_ok = false;
            $.post("/blog/saveAboutMe", data.field, function(data){
                if (data.state=200) {
                    layer.alert(data.message, {title: '提示!'});
                } else {
                    layer.alert(data.message, {title: '提示!'});
                }
            },"json");
            return false; // 当前页面操作
        });

    });
</script>
</body>
</html>