<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Data-Table 表格</title>
    <link rel="stylesheet" href="/static/lib/layui-2.3.0/css/layui.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" href="/static/images/logo.png">
</head>
<body class="body">
    <div class="my-btn-box search-box">
        <div class="layui-form-item">
            <label class="layui-form-label">分类</label>
            <div class="layui-input-inline">
                <input type="text" name="title" autocomplete="off" class="layui-input search-field">
            </div>
            <label class="layui-form-label">标签</label>
            <div class="layui-input-inline">
                <input type="text" name="tags" autocomplete="off" class="layui-input search-field">
            </div>
            <div class="layui-input-inline" style="float: right;">
                <button class="layui-btn" id="search-action">搜索</button>
                <button class="layui-btn layui-btn-mini" id="create-action">添加</button>
            </div>
        </div>
    </div>

    <!-- 表格 -->
    <table id="datalist" lay-filter="tabledata"></table>

    <!-- 新增模态框 -->
    <div style="display: none;" id="add-model">
        <form class="layui-form" lay-filter="catalogs" style="padding: 15px">
            <div class="layui-form-item">
                <label class="layui-form-label">分类</label>
                <div class="layui-input-block">
                    <input id="title" type="text" name="title" placeholder="分类名称" autocomplete="off" class="layui-input">
                </div>
            </div>
            
            <div class="layui-form-item">
                <label class="layui-form-label">标签</label>
                <div class="layui-input-block">
                    <input id="tags" type="text" name="tags" placeholder="相关标签 , 间隔" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="addcategory">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>

    <!-- 编辑模态框 -->
    <div style="display: none;" id="update-model">
        <form class="layui-form" lay-filter="catalogs" style="padding: 15px">
            <input type="hidden" id="update_id" name="update_id"> <!-- id -->
            <div class="layui-form-item">
                <label class="layui-form-label">分类</label>
                <div class="layui-input-block">
                    <input id="update_title" type="text" name="update_title" placeholder="分类名称" autocomplete="off" class="layui-input">
                </div>
            </div>
            
            <div class="layui-form-item">
                <label class="layui-form-label">标签</label>
                <div class="layui-input-block">
                    <input id="update_tags" type="text" name="update_tags" placeholder="相关标签 , 间隔" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="updatecategory">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>

    <!-- 编辑选项 -->
    <div style="display: none;" id="barDo">
        <a style="line-height: 28px;" class="layui-btn " id="btn-update" lay-event="edit">编辑</a>
        <a style="line-height: 28px;" class="layui-btn layui-btn-danger" lay-event="del">删除</a>
    </div>

    <script type="text/javascript" src="/static/lib/layui-2.3.0/layui.js"></script>
    <script type="text/javascript">
        layui.use(['table', 'layer', 'form'], function(){
            var table = layui.table, form = layui.form, $ = layui.jquery;
            
            //渲染数据结构
            var tablesIns = table.render({
                elem: '#datalist',
                height: 'full-100',
                url: '/blog/ajaxCategoryList', //数据接口
                method: 'post', // 传递方式
                page: true, //开启分页
                cols: [[ //表头
                    {field: 'id', title: 'ID', width:50, sort: true, fixed: 'left'},
                    {field: 'title', title: '分类名称', width:200},
                    {field: 'tags', title: '相关标签', width:400},
                    {field: 'create_time', title: '创建时间', width:300},
                    {title: '操作', align:'center', fixed: 'right', width:300, toolbar: '#barDo'}
                ]]
            });

            // 搜索
            $("#search-action").click(function(){
                tablesIns.reload({
                    where: { // 重载时搜索的字段
                        title: $(".search-field[name='title']").val(),
                        tags: $(".search-field[name='tags']").val()
                    },
                    page: {
                        curr: 1  //重新从第 1 页开始
                    }
                });
            });

            // 新增
            $("#create-action").click(function(){
                layer.open({
                    type : 1,
                    title : "添加博文分类",
                    content : $('#add-model'),
                    area : '500px'
                });
            });

            // 编辑
            table.on('tool(tabledata)', function(obj){
                var data = obj.data;
                var layEvent = obj.event;
                if (layEvent=="edit") {
                    $.post("/blog/getOneCategory", {id: data.id}, function(json){
                        if (json.state==200) {
                            $("#update_id").val(json.data.id);
                            $("#update_title").val(json.data.title);
                            $("#update_tags").val(json.data.tags);
                            layer.open({
                                type : 1,
                                title : "编辑博文分类",
                                content : $('#update-model'),
                                area : '500px'
                            });
                        }
                    }, "json");
                } else if (layEvent === 'del') {
                    layer.confirm('真的删除该分类?', function(index){
                        $.post("/blog/deleteCategory", {id: data.id}, function(json){
                            if (json.state==200) {
                                layer.alert(json.message, {title: '提示!'});
                                window.location.reload();
                            }
                        }, "json");
                    });
                }
                    
            });

            // 新增表单提交
            form.on('submit(addcategory)', function(data){
                $.post("/blog/doCreateCategory", data.field, function(json){
                    if (json.state==200) {
                        layer.alert("操作成功!", {title: '提示!'});
                        window.location.reload();
                    } else {
                        layer.alert(json.message, {title: '提示!'});
                    }
                }, "json");
                return false; //阻止表单跳转
            });

            // 更新表单提交
            form.on('submit(updatecategory)', function(data){
                $.post("/blog/doUpdateCategory", data.field, function(json){
                    if (json.state==200) {
                        layer.alert("操作成功!", {title: '提示!'});
                        window.location.reload();
                    } else {
                        layer.alert(json.message, {title: '提示!'});
                    }
                }, "json");
                return false; //阻止表单跳转
            });
        });
    </script>
</body>
</html>