<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link rel="stylesheet" type="text/css" href="/static/lib/GridManager/css/gm.css">
	<script type="text/javascript" src="/static/lib/GridManager/js/gm.js"></script>
    <title>表格</title>
    <link rel="stylesheet" type="text/css" href="/static/css/gridmanager.css">
</head>

<body>
	<section class="search-area">
		<div class="sa-ele">
			<label class="se-title">账号:</label>
			<input class="se-con" name="username"/>
		</div>
		<div class="sa-ele">
			<label class="se-title">电话:</label>
			<input class="se-con" name="telphone"/>
		</div>
		<div class="sa-ele">
			<label class="se-title">邮箱:</label>
			<input class="se-con" name="email"/>
		</div>
		<div class="sa-ele">
			<button class="search-action">搜索</button>
			<button class="reset-action">重置</button>
		</div>
	</section>

	<section class="grid-main">
		<table></table>
	</section>

	<!-- 隐藏数据初始按钮 -->
	<section class="bottom-bar" style="display: none;">
		<button id="init-gm" disabled>[表格]初始化</button>
		<button id="destroy-gm" disabled>[表格]数据清除</button>
	</section>

	<script type="text/javascript">
		var dataUrl = "/home/ajaxAdminListJson"; // 数据地址
	</script>
	<script type="text/javascript" src="/static/js/gridmanager_adminlist.js"></script>
</body>
</html>
