<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title></title>
    <link rel="stylesheet" href="/static/lib/layui-2.3.0/css/layui.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" href="/static/images/logo.png">
    <style type="text/css">
        .no-catalog-tip { line-height: 40px; padding-left: 10px; font-size: 15px; }
    </style>
</head>
<body class="body">

<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>菜单设置</legend>
</fieldset>

<div class="layui-btn-group" style="margin-bottom: 15px">
    <button class="layui-btn layui-btn-primary layui-btn-small" lay-filter="addcatalog-0" id="addcatalog-0"> <i class="layui-icon">&#xe608;</i> 添加一级菜单 </button>
</div>

<!-- 树形展示 -->
<ul id="tree-list"></ul>

<!-- 一级选择 -->
<div id="catalog1-model" class="layui-btn-group catalog1-model" style="display: none;">
    <button id="create-catalog" class="layui-btn">增加子菜单</button>
    <button id="update-catalog" class="layui-btn">编辑</button>
    <button id="delete-catalog" class="layui-btn">删除</button>
</div>

<!-- 二级选择 -->
<div id="catalog2-model" class="layui-btn-group catalog2-model" style="display: none;">
    <button id="update-catalog" class="layui-btn">编辑</button>
    <button id="delete-catalog" class="layui-btn">删除</button>
</div>

<!-- 新增，编辑层 -->
<div id="action-model" class="action-model" style="display: none;">
    <form class="layui-form" lay-filter="catalogs" style="padding: 15px">
        <input id="act" type="hidden" name="act" value=""> <!-- 隐藏字段 create\update -->
        <input id="id" type="hidden" name="id" value=""> <!-- 隐藏字段 id -->
        <input id="pid" type="hidden" name="pid" value=""> <!-- 隐藏字段 pid -->
        <div class="layui-form-item">
            <label class="layui-form-label">标签[<a style="color:#08bef1" href="https://www.layui.com/doc/element/icon.html" title="layui图标" target="_blank">Tag</a>]</label>
            <div class="layui-input-block">
                <input id="icon" type="text" name="icon" placeholder="默认标签" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">菜单名</label>
            <div class="layui-input-block">
                <input id="title" type="text" name="title" placeholder="菜单名" autocomplete="off" class="layui-input">
            </div>
        </div>
        
        <div class="layui-form-item">
            <label class="layui-form-label">链接地址</label>
            <div class="layui-input-block">
                <input id="url" type="text" name="url" placeholder="链接地址" autocomplete="off" class="layui-input">
            </div>
        </div>
		
		<div class="layui-form-item">
            <label class="layui-form-label">组内排序</label>
            <div class="layui-input-block">
                <input id="sort" type="text" name="sort" placeholder="排序" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="catalog">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript" src="/static/lib/layui-2.3.0/layui.js"></script>
<script type="text/javascript">
    var actionID = 0;
    layui.use(['layer', 'form', 'tree'], function () {
        var layer = layui.layer, form = layui.form, tree = layui.tree, $ = layui.jquery;
        var alert_index;
        // 增加一级菜单
        $("[id=addcatalog-0]").click(function(){
            $("#pid").val(0);
            $("#act").val("create");
            alert_index = layer.open({
                type : 1,
                title : "添加一级菜单",
                content : $('#action-model'),
                area : '500px'
            });
        });

        // 增加二级菜单        
        $("[id=create-catalog]").click(function(){
            var id = actionID;
            $("#pid").val(id);
            $("#act").val("create");
            alert_index = layer.open({
                type : 1,
                title : "添加二级菜单",
                content : $('#action-model'),
                area : '500px'
            });
        });
        
        // 更新菜单
        $("[id=update-catalog]").click(function(){
            var id = actionID;
            layer.close(alert_index);
            $.post("/home/getOneCatalog", {id:id}, function(json){
                if (json.state==200) {
                    // 填充信息
                    $("#act").val("update");
                    $("#id").val(json.data.id);
                    $("#pid").val(json.data.pid);
                    $("#icon").val(json.data.icon);
                    $("#title").val(json.data.title);
                    $("#url").val(json.data.url);
					$("#sort").val(json.data.sort);
                    alert_index = layer.open({
                        type : 1,
                        title : "编辑菜单",
                        content : $('#action-model'),
                        area : '500px'
                    });
                } else {
                    layer.alert(json.message, {title: '提示!'});
                }
            }, "json");
        });

        // 删除菜单
        $("[id=delete-catalog]").click(function(){
            var id = actionID;
            layer.close(alert_index);
            $.post("/home/deleteCatalog", {id:id}, function(json){
                if (json.state==200) {
                    layer.alert("删除成功!", {title: '提示!'});
                    window.location.reload();
                } else {
                    layer.alert(json.message, {title: '提示!'});
                }
            }, "json");
        });

        // 表单提交
        form.on('submit(catalog)', function(data){
            layer.close(alert_index);
            $.post("/home/doCatalog", data.field, function(json){
                if (json.state==200) {
                    layer.alert("操作成功!", {title: '提示!'});
                    window.location.reload();
                } else {
                    layer.alert(json.message, {title: '提示!'});
                }
            }, "json");
            return false; //阻止表单跳转
        });

        // 树形展示
        $.post("/home/ajaxCatalogLayuiTreeList", {}, function(json){
            if (json.state==200) {
                tree({
                    elem: '#tree-list',
                    nodes: json.data,
                    click: function(node){
                        actionID = node.id; // 临时存储当前页面的js中
                        if (node.is_first==1) {
                            alert_index = layer.open({
                                type : 1,
                                title : "操作",
                                content : $('#catalog1-model')
                            });
                        } else {
                            alert_index = layer.open({
                                type : 1,
                                title : "操作",
                                content : $('#catalog2-model')
                            });
                        }
                    }
                });
            }else {
                layer.alert(json.message, {title: '提示!'});
            }
        }, "json");

    });
</script>
</body>
</html>
