<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title></title>
    <link rel="stylesheet" href="/static/lib/frame/layui/css/layui.css">
    <link rel="stylesheet" href="/static/lib/frame/static/css/style.css">
    <link rel="icon" href="/static/images/logo.png">
    <style type="text/css">
        .no-catalog-tip { line-height: 40px; padding-left: 10px; font-size: 15px; }
    </style>
</head>
<body class="body">

<table class="layui-table">
    <!-- 宽 -->
    <colgroup>
        <col width="50">
        <col width="150">
        <col width="130">
        <col width="250">
        <col width="200">
        <col width="100">
        <col><!-- 剩余的全部 -->
    </colgroup>
    <!-- 标题 -->
    <thead>
        <tr>
            <th>ID</th>
            <th>账号</th>
            <th>电话</th>
            <th>email</th>
            <th>类别</th>
            <th>权限</th>
            <th>操作</th>
        </tr> 
    </thead>
    <!-- 内容 -->
    <tbody>
        <?php foreach($admins as $admin): ?>
            <tr>
                <th><?=$admin["id"]?></th>
                <th><?=$admin["username"]?></th>
                <th><?=$admin["telphone"]?></th>
                <th><?=$admin["email"]?></th>
                <th><?=$admin["type"]?></th>
                <th><?=$admin["right"]?></th>
                <th>
                    <button id="update-permission" data-id="<?=$admin['id']?>" data-name="<?=$admin['username']?>" class="layui-btn layui-btn-small layui-btn-primary"> <i class="layui-icon">&#xe642;</i> </button>
                </th>
            </tr>
        <?php endforeach; ?>
    </tbody>
</table>


<!-- 新增，编辑层 -->
<div id="action-model" class="action-model" style="display: none;">
    <form class="layui-form" lay-filter="catalogs" style="padding: 15px">
        <input id="admin_id" type="hidden" name="admin_id" value=""> <!-- 隐藏字段 id -->
        <div class="layui-collapse">
            <?php foreach($catalogs as $first): ?>
                <div class="layui-colla-item">
                    <h2 class="layui-colla-title"><?=$first["title"]?></h2>
                    <div class="layui-colla-content layui-show">
                        <?php foreach($first["items"] as $item): ?>
                            <input type="checkbox" id="checkboxitem" data-id="<?=$item['id']?>" name="catalog_id" value="<?=$item['id']?>" title="<?=$item['title']?>" lay-skin="primary">
                        <?php endforeach; ?>
                    </div>
                </div>
            <?php endforeach; ?>
        </div>
        <div style="width: 100%;text-align: center;padding: 5px;margin-top: 15px;">
            <button class="layui-btn" lay-submit lay-filter="permission">立即提交</button>
        </div>
    </form>
</div>

<script src="/static/lib/frame/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript">
    layui.use(['layer', 'form', 'tree', 'element'], function () {
        var layer = layui.layer, form = layui.form, tree = layui.tree, $ = layui.jquery;
        // 编辑权限
        $("[id=update-permission]").click(function(){
            var name = $(this).attr("data-name");
            var admin_id = $(this).attr("data-id");
            $("#admin_id").val(admin_id);
            $.post("/home/getPermissions", {admin_id : admin_id}, function(json){
                if (json.state==200) {
                    $.each(json.data, function(i, vo){
                        $("#checkboxitem[data-id='"+vo.catalog_id+"']").attr("checked", true);
                        layui.form.render(); //重新渲染显示效果
                    });
                    layer.open({
                        type : 1,
                        title : name + " 权限设置",
                        content : $('#action-model'),
                        area : '300px'
                    });
                }
            }, "json");
        });

        // 表单提交
        form.on('submit(permission)', function(data){
            var admin_id = $("#admin_id").val();
            var catalog_ids = [];
            $("input:checkbox[name='catalog_id']:checked").each(function(){
                catalog_ids.push($(this).val());
            });
            
            $.post("/home/updatePermissions", {admin_id : admin_id, catalog_ids : catalog_ids}, function(json){
                if (json.state==200) {
                    layer.alert("操作成功!", {title: '提示!'});
                    window.location.reload();
                } else {
                    layer.alert(json.message, {title: '提示!'});
                }
            }, "json");
            return false; //阻止表单跳转
        });
    });
</script>
</body>
</html>