<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>表单</title>
    <link rel="stylesheet" href="/static/lib/frame/layui/css/layui.css">
    <link rel="stylesheet" href="/static/lib/frame/static/css/style.css">
    <link rel="icon" href="/static/images/logo.png">
</head>
<body class="body">

<form class="layui-form" method="post" action="">

    <div class="layui-form-item">
        <label class="layui-form-label">旧密码</label>
        <div class="layui-input-block">
            <input type="password" name="password" value="" lay-verify="password" autocomplete="off" placeholder="" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">新密码</label>
        <div class="layui-input-block">
            <input type="password" name="newpassword" value="" lay-verify="newpassword" autocomplete="off" placeholder="" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">确认新密码</label>
        <div class="layui-input-block">
            <input type="password" name="renewpassword" value="" lay-verify="renewpassword" autocomplete="off" placeholder="" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="update">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>

<script src="/static/lib/frame/layui/layui.js" charset="utf-8"></script>
<script>
    layui.use(['form'], function(){
        var form = layui.form, layer = layui.layer, $ = layui.jquery;
        //监听提交
        form.on('submit(update)', function(data){

            /*layer.alert(JSON.stringify(data.field), {
                title: '最终的提交信息'
            });*/
            
            if (data.field.password=="") {
                layer.alert("旧密码不能为空", {title: '提示!'});
                return false;
            }

            if (data.field.newpassword=="") {
                layer.alert("新密码不能为空", {title: '提示!'});
                return false;
            }

            if (data.field.renewpassword=="") {
                layer.alert("确认新密码不能为空", {title: '提示!'});
                return false;
            }

            $.post("/home/doUpdatePassword", data.field, function(json){
                if (json.state==200) {
                    layer.alert("修改成功!", {title: '提示!'});
                } else {
                    layer.alert(json.message, {title: '提示!'});
                }
            }, "json");

            return false; //阻止表单跳转
        });
    });
</script>
</body>
</html>