<!doctype html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title><?=APP_NAME?> - 后台管理</title>
	<link rel="stylesheet" type="text/css" href="/static/signin/css/styles.css">
	<link rel="icon" href="/static/images/logo.png">
	<!--[if IE]>
		<script src="http://libs.baidu.com/html5shiv/3.7/html5shiv.min.js"></script>
	<![endif]-->
</head>
<body>
	<div class="jq22-container" style="padding-top:100px">
		<div class="login-wrap">
			<div class="login-html">
				<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab"><!--登录--></label>
				<input style="display: none;" id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab"><!--注册--></label>
				<div class="login-form">
					<div class="sign-in-htm">
						<form class="layui-form" method="post" action="">
							<div class="group">
								<label for="user" class="label">账号</label>
								<input type="text" class="input" name="username" required lay-verify="required" placeholder="账号" autocomplete="off">
							</div>
							<div class="group">
								<label for="pass" class="label">密码</label>
								<input id="pass" type="password" class="input" data-type="password" name="password" required lay-verify="required" placeholder="密码" autocomplete="off">
							</div>
							<div class="group">
								<button type="button" class="button layui-btn btn-submit" lay-submit="" lay-filter="sub">立即登录</button>
							</div>
							<div class="hr"></div>
							<div class="foot-lnk">
								<a title="请联系系统管理员" href="javascript:alert('请联系系统管理员');">忘记密码?</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="/static/lib/layui-2.3.0/layui.js"></script>
	<script type="text/javascript">
	    layui.use(['form'], function () {
	        // 操作对象
	        var form = layui.form , $ = layui.jquery;

	        // 提交监听
	        form.on('submit(sub)', function (data) {
	            if (!!data.field.username==false) {
	                layer.alert("账号信息错误", {title: '提示!'});
	                return false;
	            }
	            if (!!data.field.password==false) {
	                layer.alert("密码信息错误", {title: '提示!'});
	                return false;
	            }
	            $.post("/home/doLogin", data.field, function(json){
	                if (json.state==200) {
	                    window.location.href = "/home/index";
	                    return false;
	                } else {
	                    layer.alert(json.message, {title: '提示!'});
	                    return false;
	                }
	            }, "json");
	        });
		    
		// 键盘事件
		document.onkeydown = function (ev) {
			ev = ev || window.event;
			// 回车登录
			if ((ev.keyCode || ev.which)==13) {
				var username = $("input[name=username]").val();
				var password = $("input[name=password]").val();
				if (!!username==false) {
					layer.alert("账号信息错误", {title: '提示!'});
					return false;
				}
				if (!!password==false) {
					layer.alert("密码信息错误", {title: '提示!'});
					return false;
				}
				$.post("/home/doLogin", { username : username, password : password }, function(json){
					if (json.state==200) {
						window.location.href = "/home/index";
						return false;
					} else {
						layer.alert(json.message, {title: '提示!'});
						return false;
					}
				}, "json");
			}
		}

	    });
	</script>
</body>
</html>
